*{
    margin: 0;
    padding: 0;
}
h1{
    background-color: black;
    color: beige;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 200px;
    width: 200px;
}
.choice:hover{
    opacity: 0.5;
    cursor: pointer;
}
img{
    height: 150px;
    width:150px;
    object-fit: cover;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 3rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    font-size: 2rem;
}
#user-score,#comp-score{
    font-size: 4rem;
}
#msg{
    margin-top: 3rem;
    background-color: black;
    color: aliceblue;
    font-size: 2rem;
    display: inline;

}
.msg-container{
    display: flex;
    justify-content: center;
    align-items: center;

}